.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #2e7d32;
  color: white;
  padding: 10px 20px;
}

.logo a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
}

.search-bar {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.search-bar input,
.search-bar select {
  padding: 6px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logout-btn,
.admin-btn {
  background: #ff5722;
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
}

.logout-btn:hover,
.admin-btn:hover {
  background: #e64a19;
}


/* Responsive */
@media (max-width: 768px) {
  .search-bar {
    flex-direction: column;
    gap: 8px;
  }
}
