.summary-container {
  max-width: 900px;
  margin: 40px auto;
  padding: 30px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.1);
  text-align: center;
}

.summary-container h2 {
  color: #2e7d32;
  font-size: 2rem;
  margin-bottom: 10px;
}

.thankyou {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #444;
}

.summary-card {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 20px;
  border-bottom: 2px solid #eee;
  padding-bottom: 20px;
}

.summary-img {
  max-width: 300px;
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.1);
  margin-bottom: 20px;
}



.summary-details {
  text-align: left;
}

.summary-details h3 {
  color: #2e7d32;
  margin-bottom: 10px;
}

.customer-info {
  text-align: left;
  margin: 20px 0;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 12px;
}

.customer-info h3 {
  margin-bottom: 10px;
  color: #256629;
}

.back-btn {
  padding: 12px 25px;
  background: linear-gradient(90deg, #2e7d32, #256629);
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 1rem;
  transition: transform 0.2s;
}

.back-btn:hover {
  transform: scale(1.05);
}
